<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/nav') %>

    <div class="container mb-3">
      <div>
        <h5 class="card-header p-2" style="background-color: #fafafa;"  data-search-highlight="title"><%= post.title %></h5>
            <div class="post-info p-2">
                <div id = "post_info">
                  <a href="/posts<%= getPostQueryString(false, { searchType:'author!', searchText:post.author.username }) %>">
                    <span data-search-highlight="author"><%= post.author ? post.author.username : "" %></span>
                  </a>
                  <span> | </span>
                  <span data-date-time="<%= post.createdAt %>"></span>

                </div>
              </div>
              <div class="post-body p-3" data-search-highlight="body"><%= post.body %></div>
      </div>
      <hr>

      <div class="mt-3">
        <a class="btn btn-primary" href="/posts<%= getPostQueryString() %>">뒤로</a>
        <% if(isAuthenticated && post.author && currentUser.id == post.author.id){ %>
          <a class="btn btn-primary" href="/posts/<%= post._id %>/edit<%= getPostQueryString() %>">수정</a>
          <form action="/posts/<%= post._id %>?_method=delete<%= getPostQueryString(true) %>" method="post" class="d-inline">
            <a class="btn btn-primary" href="javascript:void(0)" onclick="confirm('삭제하시겠습니까?')?this.parentElement.submit():null;">삭제</a>
          </form>
        <% } %>
      </div>

      <% if(comments.length){ %>
        <div class="mt-3 comment_style border-bottom">
          <% comments.forEach(function(comment) { %>
            <div class="border-top pt-1 pb-1">
              <% if(comment.isDeleted){ %>
                <div class="text-muted p-2">(삭제된 덧글입니다.)</div>
              <% } else { %>
              <div class="row pt-1 pb-1">
                <div class="col-3 col-md-2 col-lg-2 pl-4">
                  <a href="/posts<%= getPostQueryString(false, { searchType:'author!', searchText:post.author.username }) %>">
                    <%= comment.author.username %>
                  </a>
                </div>

                <div class="col-8 col-md-10 col-lg-10">
                  <div class="comment-show">
                    <div class="comment-text mb-3"><%= comment.text %></div>
                      <small>

                      (<span data-date-time="<%= comment.createdAt %>"></span>)

                        <% if(isAuthenticated && comment.author && currentUser.id == comment.author.id){ %>
                          <form action="/comments/<%= comment._id %>?postId=<%= post._id %>&_method=delete<%= getPostQueryString(true) %>" method="post" class="d-inline">
                            <a href="javascript:void(0)" onclick="confirm('삭제하시겠습니까?')?this.parentElement.submit():null;">삭제</a>
                          </form>
                        <% } %>

                      </small>

                  </div>
                </div>
              </div>
               <% } %>
            </div>
          <% }) %>
        </div>
      <% } %>

      <div class="mt-3">
        <form action="/comments?postId=<%= post._id %><%= getPostQueryString(true) %>" method="post">
          <fieldset <%= !isAuthenticated?'disabled':'' %>>
            <div class="row">
              <div class="col-9">
                <textarea placeholder="덧글을 입력하세요." id="text" name="text" rows="2" class="form-control <%= (commentError.errors.text)?'is-invalid':'' %>"><%= commentForm.form.text %></textarea>
              </div>
              <div class="col-3">
                <button type="submit" class="btn btn-primary h-100 mr-2">등록</button>
              </div>
            </div>
            <% if(commentError.errors.text){ %>
              <span class="invalid-feedback d-block"><%= commentError.errors.text.message %></span>
            <% } %>
          </fieldset>
        </form>
      </div>


      <!-- 목록  -->

      <!-- 목록 끝  -->
    </div>
  </body>
</html>
